html {
	margin-right: 0 !important;
	overflow-x: hidden;
}
body {
	color: #2e2e2e;
}
.container {
	overflow: hidden;
}
.innerContent {
	word-wrap: break-word;
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
a {
	background: 0 0;
}
a:active, a:hover {
	outline: 0;
}
b {
	font-weight: 700;
}
@media print {
	* {
		text-shadow: none !important;
		color: #000 !important;
		background: transparent !important;
		box-shadow: none !important;
	}
	a, a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:before, :after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	-webkit-tap-highlight-color: transparent;
}
body {
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}
a {
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: underline;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.col-md-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 992px) {
	.col-md-12 {
		float: left;
	}
	.col-md-12 {
		width: 100%;
	}
}
.container:before, .container:after, .row:before, .row:after {
	content: " ";
	display: table;
}
.container:after, .row:after {
	clear: both;
}
.containerWrapper {
	min-width: 320px;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}
.innerContent {
	word-wrap: break-word;
}
.midWideContainer {
	width: 960px;
}
.midWideContainer .containerInner {
	padding-left: 20px;
	padding-right: 20px;
}
.row {
	padding: 10px;
}
.radius0 {
	border-radius: 0;
}
.radius10 {
	border-radius: 10px;
}
.borderSolid.border3px {
	border-width: 3px;
	border-style: solid;
}
.borderSolid.border5px {
	border-width: 5px;
	border-style: solid;
}
.noBorder {
	border: none !important;
}
.shadow30 {
	-webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
}
.bgNoRepeat {
	background-repeat: no-repeat !important;
}
.bgCover {
	background-size: cover !important;
	-webkit-background-size: cover !important;
	background-attachment: fixed !important;
	background-repeat: repeat repeat !important;
}
html {
	background-color: #F1F4F8;
	color: #2f2f2f;
}
body {
	-webkit-font-smoothing: antialiased;
	color: inherit !important;
}
.de-editable {
	position: relative;
}
.elMargin0 {
	margin-top: 0;
}
.elFont_oswald {
	font-family: 'Oswald', sans-serif !important;
}
.elAlign_center {
	text-align: center;
}
.elHeadline {
	position: relative;
}
.elHeadline {
	margin-bottom: 0;
	padding: 0;
}
.elHeadline u {
	border-bottom: 2px solid inherit;
}
.hsSize1 {
	font-size: 16px;
}
.hsSize4 {
	font-size: 48px;
}
.lh3 {
	line-height: normal;
}
.hsTextShadow3 {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.elButton {
	margin-right: auto;
	margin-left: auto;
	color: #FFF;
	font-weight: 700;
	display: inline-block;
	-ms-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-align: center !important;
	text-decoration: none !important;
}
.elButton:hover {
	text-decoration: none;
	color: inherit;
}
.elButton:visited, .elButton:active, .elButton:hover {
	text-decoration: none !important;
}
.elButton {
	padding: 13px 35px;
}
.elButtonSize3 {
	font-size: 27px;
}
.elButtonSub {
	display: block;
	opacity: .7;
	font-weight: 400;
}
.elButtonSize3 .elButtonSub {
	font-size: 18px;
}
.elButtonFull {
	display: block;
	text-align: center;
	width: 100%;
}
.elButtonTxtColor5 {
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.elButtonSubtle {
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	border-radius: 4px;
}
.elButtonIcon1 .elButtonMain:before {
	font-family: FontAwesome;
	content: "\f061";
	margin-right: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.elButtonColor1 {
	background-color: #0092D5;
}
.elButtonColor1:hover {
	background-color: #0c69a8;
}

.elButtonShadow5 {
	-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.4);
}
.elInputBR5 {
	border-radius: 5px;
}
.elButtonShadow5 {
	-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.4);
}
@media only screen and (min-width: 0px) and (max-width: 770px) {
	body {
		overflow-x: hidden;
	}
	.midWideContainer {
		width: 100% !important;
		min-width: 320px;
	}
	.col-inner {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	.innerContent {
		padding: 0 !important;
	}
	.row {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	.hsSize4 {
		font-size: 32px;
	}
	.containerInner {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.row, .col-inner {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.elButtonSize3 {
		font-size: 21px;
		border-radius: 5px;
		padding: 15px 10px;
	}
	.elBTN {
		text-align: center;
	}
	.elHeadlineWrapper {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.bgCover {
		background-attachment: scroll !important;
	}
}
@media only screen and (min-width: 770px) and (max-width: 1170px) {
	.col-inner {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}
@media (max-width: 960px) {
	.midWideContainer {
		width: 95% !important;
		min-width: 320px;
	}
	.midWideContainer .containerInner {
		width: 100% !important;
	}
}
html {
	overflow: initial;
	background-image: url(aerial_view_of_yokohama_japan-wallpaper-2560x1440.jpg);
}
html.bg2 {
	background-image: url(back.jpg);
}
@media only screen and (max-width: 770px) and (min-width: 0px) {
	.bgCover {
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
		background-attachment: fixed !important;
	}
}
a {
	color: rgba(255, 255, 255, 0.62);
}
#tmp_button-44184 .elButtonSubtle:hover {
	
}
#tmp_headline1-13216 .elHeadline b {
	color: rgb(209, 4, 4);
}
#tmp_headline1-13216 {
	outline: medium none;
	cursor: pointer;
}
.title1 {
	text-align: center;
	color: rgb(0, 0, 0);
	background-image: none;
	background-color: rgba(0, 0, 0, 0);
	background-position: 0% 0%;
	background-repeat: repeat;
}
#headline-84874 {
	margin-top: 20px;
	display: block;
	outline: medium none;
	cursor: pointer;
}
.title2 {
	text-align: center;
	color: rgba(0, 0, 0, 0.470588);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
}
.elBTN {
	margin-top: 15px;
	outline: medium none;
	cursor: pointer;
	display: block;
}
.elButtonSubmit {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 181, 250);
}
.elButtonSubmit:hover {
	color: rgb(255, 255, 255);
	background-color: #0097d1;
}
.elButtonSubmit.elButtonColor2 {
	background-color: #e67e22;
}
.elButtonSubmit.elButtonColor2:hover {
	background-color: #cf6f1a;
}
.userLocation {
	top: 4px;
	margin-right: 10px;
}
.unsubscribe {
	width: 100%;
	position: fixed;
	bottom: 10px;
	left: 0;
	text-align: center;
	font-size: 13px;
	z-index: 20;
}
.unsubscribe a {
	color: #fff;
	text-decoration: underline;
}
@media screen and (max-width: 767px) {
	.unsubscribe {
		position: relative;
		padding-top: 30px;
		clear: both;
	}
}